*.dll
*.exe
.DS_Store
terraform.tfplan
terraform.tfstate
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

# Keep windows files with windows line endings
*.winfile eol=crlf
