{
  "x-generator": "NSwag v13.1.6.0 (NJsonSchema v10.0.28.0 (Newtonsoft.Json v12.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Uptrends API v4",
    "description": "This document describes Uptrends API version 4. This Swagger environment also lets you execute API methods directly.\n\nPlease note that this is not a sandbox environment: these API methods operate directly on your actual Uptrends account.\n\nFor more information, please visit https://www.uptrends.com/api.",
    "version": "1.0.0"
  },
  "host": "api.uptrends.com",
  "basePath": "/v4",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/Account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Returns the account statistics.",
        "operationId": "Account_GetAccountStatistics",
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Request completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountStatistics"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/CheckpointRegion": {
      "get": {
        "tags": [
          "Checkpoint"
        ],
        "summary": "Returns all the checkpoint regions. ",
        "operationId": "CheckpointRegion_GetAllCheckpointRegions",
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CheckpointRegion"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/CheckpointRegion/{checkpointRegionId}": {
      "get": {
        "tags": [
          "Checkpoint"
        ],
        "summary": "Returns the specified checkpoint region. ",
        "operationId": "CheckpointRegion_GetSpecifiedCheckpointRegion",
        "parameters": [
          {
            "type": "integer",
            "name": "checkpointRegionId",
            "in": "path",
            "required": true,
            "description": "The id for the specified checkpoint region.",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/CheckpointRegion"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The checkpoint region could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/CheckpointRegion/{checkpointRegionId}/Checkpoint": {
      "get": {
        "tags": [
          "Checkpoint"
        ],
        "summary": "Returns the checkpoints for the specified checkpoint region. ",
        "operationId": "CheckpointRegion_GetCheckpointRegionCheckpoints",
        "parameters": [
          {
            "type": "integer",
            "name": "checkpointRegionId",
            "in": "path",
            "required": true,
            "description": "The id for the specified checkpoint region.",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Checkpoint"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The checkpoint region could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Dashboard": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Returns data for all dashboards.",
        "operationId": "Dashboard_GetAllDashboards",
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dashboard"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Dashboard/{dashboardGuid}": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Returns data for the specified dashboard.",
        "operationId": "Dashboard_GetOneDashboard",
        "parameters": [
          {
            "type": "string",
            "name": "dashboardGuid",
            "in": "path",
            "required": true,
            "description": "The guid of the specified dashboard.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified dashboard could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Delete the specified dashboard.",
        "operationId": "Dashboard_DeleteDashboard",
        "parameters": [
          {
            "type": "string",
            "name": "dashboardGuid",
            "in": "path",
            "required": true,
            "description": "The guid of the specified dashboard.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified dashboard could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Update the specified dashboard.",
        "operationId": "Dashboard_UpdateDashboard",
        "parameters": [
          {
            "type": "string",
            "name": "dashboardGuid",
            "in": "path",
            "required": true,
            "description": "The guid of the specified dashboard.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "dashboard",
            "in": "body",
            "required": true,
            "description": "The details for the dashboard.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "One or more of the specified entities could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Partially update the specified dashboard.",
        "operationId": "Dashboard_PartiallyUpdateDashboard",
        "parameters": [
          {
            "type": "string",
            "name": "dashboardGuid",
            "in": "path",
            "required": true,
            "description": "The guid of the specified dashboard.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "dashboard",
            "in": "body",
            "required": true,
            "description": "The details for the dashboard.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "One or more of the specified entities could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Dashboard/{dashboardGuid}/Clone": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Clone the specified dashboard.",
        "operationId": "Dashboard_CloneDashboard",
        "parameters": [
          {
            "type": "string",
            "name": "dashboardGuid",
            "in": "path",
            "required": true,
            "description": "The guid of the specified dashboard.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified dashboard could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/PublicStatusPage": {
      "get": {
        "tags": [
          "PublicStatusPage"
        ],
        "summary": "Returns the definition of all public status pages available in the account.",
        "operationId": "PublicStatusPage_GetPublicStatusPages",
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PublicStatusPage"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "PublicStatusPage"
        ],
        "summary": "Creates a new public status page.",
        "operationId": "PublicStatusPage_PostPublicStatusPage",
        "parameters": [
          {
            "name": "publicStatusPage",
            "in": "body",
            "required": true,
            "description": "The complete definition for the public status page that should be updated.",
            "schema": {
              "$ref": "#/definitions/PublicStatusPage"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicStatusPage"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified public status page does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/PublicStatusPage/{publicStatusPageGuid}": {
      "get": {
        "tags": [
          "PublicStatusPage"
        ],
        "summary": "Returns the definition of the specified public status page.",
        "operationId": "PublicStatusPage_GetPublicStatusPage",
        "parameters": [
          {
            "type": "string",
            "name": "publicStatusPageGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the requested public status page.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicStatusPage"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified public status page does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "PublicStatusPage"
        ],
        "summary": "Partially updates the definition of the specified public status page.",
        "description": "This methods accepts parts of a public status page definition. We recommend retrieving the existing definition first (using the GET method). You can then process the changes you want to make and send back these changes only using this PATCH method.",
        "operationId": "PublicStatusPage_PatchPublicStatusPage",
        "parameters": [
          {
            "name": "publicStatusPage",
            "in": "body",
            "required": true,
            "description": "The partial definition for the public status page that should be updated.",
            "schema": {
              "$ref": "#/definitions/PublicStatusPage"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "publicStatusPageGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the public status page that should be updated.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified public status page does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "PublicStatusPage"
        ],
        "summary": "Updates the definition of the specified public status page.",
        "description": "This methods only accepts a complete public status page definition. We recommend retrieving the existing definition first (using the GET method). You can then process the changes you want to make and send back the updated definition using this PUT method.",
        "operationId": "PublicStatusPage_PutPublicStatusPage",
        "parameters": [
          {
            "name": "publicStatusPage",
            "in": "body",
            "required": true,
            "description": "The complete definition for the public status page that should be updated.",
            "schema": {
              "$ref": "#/definitions/PublicStatusPage"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "publicStatusPageGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the public status page that should be updated.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified public status page does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "PublicStatusPage"
        ],
        "summary": "Deletes the definition of the specified public status page.",
        "operationId": "PublicStatusPage_DeletePublicStatusPage",
        "parameters": [
          {
            "type": "string",
            "name": "publicStatusPageGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the public status page that should be updated.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified public status page does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/PublicStatusPage/{publicStatusPageGuid}/Authorization": {
      "get": {
        "tags": [
          "PublicStatusPage"
        ],
        "summary": "Returns all authorizations for the specified public status page.",
        "operationId": "PublicStatusPage_GetAuthorizationsForPublicStatusPage",
        "parameters": [
          {
            "type": "string",
            "name": "publicStatusPageGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the public status page.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request was successful. No content is returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PSPAuthorization"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified public status page does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "PublicStatusPage"
        ],
        "summary": "Creates a new authorization for the specified public status page.",
        "description": "The AuthorizationId attribute should be omitted in the request body. The newly created authorization will be returned in the response. An authorization should be granted to either an individual operator, or an operator group. Therefore, either specify the OperatorGuid attribute or the OperatorGroupGuid attribute.",
        "operationId": "PublicStatusPage_AddAuthorizationToPublicStatusPage",
        "parameters": [
          {
            "type": "string",
            "name": "publicStatusPageGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the public status page.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "authorization",
            "in": "body",
            "required": true,
            "description": "The complete definition of the authorization that should be created.",
            "schema": {
              "$ref": "#/definitions/PSPAuthorization"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/PSPAuthorization"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified public status page does not exist.\nor\nThe specified operator does not exist.\nor\nThe specified operator group does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            },
            "x-expectedSchemas": [
              {
                "description": "The specified public status page does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              },
              {
                "description": "The specified operator does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              },
              {
                "description": "The specified operator group does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              }
            ]
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/PublicStatusPage/{publicStatusPageGuid}/Authorization/{authorizationGuid}": {
      "delete": {
        "tags": [
          "PublicStatusPage"
        ],
        "summary": "Removes an authorization from a public status page.",
        "operationId": "PublicStatusPage_RemoveAuthorizationFromPublicStatusPage",
        "parameters": [
          {
            "type": "string",
            "name": "publicStatusPageGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the public status page.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "authorizationGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the authorization.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified public status page does not exist.\nor\nThe specified authorization does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            },
            "x-expectedSchemas": [
              {
                "description": "The specified public status page does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              },
              {
                "description": "The specified authorization does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              }
            ]
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/ScheduledReport": {
      "get": {
        "tags": [
          "ScheduledReport"
        ],
        "summary": "Returns data for all scheduled reports.",
        "operationId": "ScheduledReport_GetAllScheduledReports",
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ScheduledReport"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "ScheduledReport"
        ],
        "summary": "Creates a new scheduled report.",
        "operationId": "ScheduledReport_CreateScheduledReport",
        "parameters": [
          {
            "name": "scheduledReport",
            "in": "body",
            "required": true,
            "description": "The details for the scheduled report.",
            "schema": {
              "$ref": "#/definitions/ScheduledReport"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledReport"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/ScheduledReport/{scheduledReportGuid}": {
      "get": {
        "tags": [
          "ScheduledReport"
        ],
        "summary": "Returns data for the specified scheduled report.",
        "operationId": "ScheduledReport_GetSpecifiedScheduledReport",
        "parameters": [
          {
            "type": "string",
            "name": "scheduledReportGuid",
            "in": "path",
            "required": true,
            "description": "The guid of the specified scheduled report.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledReport"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "One or more of the specified entities could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "ScheduledReport"
        ],
        "summary": "Delete the specified scheduled report.",
        "operationId": "ScheduledReport_DeleteSpecifiedScheduledReport",
        "parameters": [
          {
            "type": "string",
            "name": "scheduledReportGuid",
            "in": "path",
            "required": true,
            "description": "The guid of the specified scheduled report.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "One or more of the specified entities could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "ScheduledReport"
        ],
        "summary": "Update the specified scheduled report.",
        "operationId": "ScheduledReport_UpdateScheduledReport",
        "parameters": [
          {
            "type": "string",
            "name": "scheduledReportGuid",
            "in": "path",
            "required": true,
            "description": "The guid of the specified scheduled report.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "scheduledReport",
            "in": "body",
            "required": true,
            "description": "The details for the scheduled report.",
            "schema": {
              "$ref": "#/definitions/ScheduledReport"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledReport"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "One or more of the specified entities could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "ScheduledReport"
        ],
        "summary": "Partially update the specified scheduled report.",
        "operationId": "ScheduledReport_PartiallyUpdateScheduledReport",
        "parameters": [
          {
            "type": "string",
            "name": "scheduledReportGuid",
            "in": "path",
            "required": true,
            "description": "The guid of the specified scheduled report.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "scheduledReport",
            "in": "body",
            "required": true,
            "description": "The details for the scheduled report.",
            "schema": {
              "$ref": "#/definitions/ScheduledReport"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledReport"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "One or more of the specified entities could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Sla": {
      "get": {
        "tags": [
          "SLA"
        ],
        "summary": "Gets a list of all SLA definitions.",
        "operationId": "Sla_GetSlas",
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sla"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "SLA"
        ],
        "summary": "Creates a new SLA.",
        "operationId": "Sla_CreateSla",
        "parameters": [
          {
            "name": "sla",
            "in": "body",
            "required": true,
            "description": "The complete SLA definition that should be created.",
            "schema": {
              "$ref": "#/definitions/Sla"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/Sla"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Sla/{slaGuid}": {
      "get": {
        "tags": [
          "SLA"
        ],
        "summary": "Gets the specified SLA definition.",
        "operationId": "Sla_GetSla",
        "parameters": [
          {
            "type": "string",
            "name": "slaGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the SLA definition.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/Sla"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified sla does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "SLA"
        ],
        "summary": "Deletes the specified SLA.",
        "operationId": "Sla_DeleteSla",
        "parameters": [
          {
            "type": "string",
            "name": "slaGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the SLA definition that should be deleted.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified SLA does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "SLA"
        ],
        "summary": "Updates the definition of the specified SLA.",
        "description": "This methods only accepts a complete SLA definition. We recommend retrieving the existing definition first (using the GET method). You can then process the changes you want to make and send back the updated definition using this PUT method.",
        "operationId": "Sla_PutSla",
        "parameters": [
          {
            "name": "sla",
            "in": "body",
            "required": true,
            "description": "The complete definition for the SLA that should be updated.",
            "schema": {
              "$ref": "#/definitions/Sla"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "slaGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the SLA that should be updated.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified SLA does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "SLA"
        ],
        "summary": "Partially updates the definition of the specified SLA.",
        "description": "This methods accepts parts of a SLA definition. We recommend retrieving the existing definition first (using the GET method). You can then process the changes you want to make and send back these changes only using this PATCH method.",
        "operationId": "Sla_PatchSla",
        "parameters": [
          {
            "name": "sla",
            "in": "body",
            "required": true,
            "description": "The partial definition for the SLA that should be updated.",
            "schema": {
              "$ref": "#/definitions/Sla"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "slaGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the SLA that should be updated.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified SLA does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Sla/{slaGuid}/ExclusionPeriod": {
      "get": {
        "tags": [
          "SLA"
        ],
        "summary": "Gets a list of all exclusion periods for the specified SLA.",
        "operationId": "Sla_GetExclusionPeriods",
        "parameters": [
          {
            "type": "string",
            "name": "slaGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the SLA definition.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExclusionPeriod"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified SLA does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "SLA"
        ],
        "summary": "Creates a new exclusion period for the specified SLA.",
        "operationId": "Sla_PostExclusionPeriod",
        "parameters": [
          {
            "name": "exclusionPeriod",
            "in": "body",
            "required": true,
            "description": "The complete definition of the exclusion period.",
            "schema": {
              "$ref": "#/definitions/ExclusionPeriod"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "slaGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the SLA definition.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExclusionPeriod"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified SLA does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Sla/{slaGuid}/ExclusionPeriod/{exclusionPeriodId}": {
      "get": {
        "tags": [
          "SLA"
        ],
        "summary": "Gets the specified exclusion period for the specified SLA.",
        "operationId": "Sla_GetExclusionPeriod",
        "parameters": [
          {
            "type": "string",
            "name": "slaGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the SLA definition.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "exclusionPeriodId",
            "in": "path",
            "required": true,
            "description": "The id of the exclusion period.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExclusionPeriod"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified SLA does not exist.\nor\nThe specified exclusion period does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            },
            "x-expectedSchemas": [
              {
                "description": "The specified SLA does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              },
              {
                "description": "The specified exclusion period does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              }
            ]
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "SLA"
        ],
        "summary": "Updates the specified exclusion period for the specified SLA.",
        "operationId": "Sla_PutExclusionPeriod",
        "parameters": [
          {
            "type": "string",
            "name": "slaGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the SLA definition.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "exclusionPeriodId",
            "in": "path",
            "required": true,
            "description": "The id of the exclusion period.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "exclusionPeriod",
            "in": "body",
            "required": true,
            "description": "The complete definition of the exclusion period.",
            "schema": {
              "$ref": "#/definitions/ExclusionPeriod"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified SLA does not exist.\nor\nThe specified exclusion period does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            },
            "x-expectedSchemas": [
              {
                "description": "The specified SLA does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              },
              {
                "description": "The specified exclusion period does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              }
            ]
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "SLA"
        ],
        "summary": "Partially updates the specified exclusion period for the specified SLA.",
        "operationId": "Sla_PatchExclusionPeriod",
        "parameters": [
          {
            "type": "string",
            "name": "slaGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the SLA definition.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "exclusionPeriodId",
            "in": "path",
            "required": true,
            "description": "The id of the exclusion period.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "exclusionPeriod",
            "in": "body",
            "required": true,
            "description": "The complete definition of the exclusion period.",
            "schema": {
              "$ref": "#/definitions/ExclusionPeriod"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified SLA does not exist.\nor\nThe specified exclusion period does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            },
            "x-expectedSchemas": [
              {
                "description": "The specified SLA does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              },
              {
                "description": "The specified exclusion period does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              }
            ]
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "SLA"
        ],
        "summary": "Deletes the specified exclusion period for the specified SLA.",
        "operationId": "Sla_DeleteExclusionPeriod",
        "parameters": [
          {
            "type": "string",
            "name": "slaGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the sla definition.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "exclusionPeriodId",
            "in": "path",
            "required": true,
            "description": "The id of the exclusion period.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified SLA does not exist.\nor\nThe specified exclusion period does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            },
            "x-expectedSchemas": [
              {
                "description": "The specified SLA does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              },
              {
                "description": "The specified exclusion period does not exist.",
                "schema": {
                  "$ref": "#/definitions/MessageList"
                }
              }
            ]
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Statistics/Monitor/{monitorGuid}": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "Gets the monitor statistics.",
        "operationId": "Statistics_GetMonitorStatistics",
        "parameters": [
          {
            "type": "string",
            "name": "monitorGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the monitor.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Filter",
            "in": "query",
            "description": "The filter for the requested response fields. E.g. \"Alerts,SlaTarget\".",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Start",
            "in": "query",
            "description": "The start of a custom period (can't be used together with the PresetPeriod parameter)",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "End",
            "in": "query",
            "description": "The end of a custom period",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "PresetPeriod",
            "in": "query",
            "description": "The requested time period.",
            "x-schema": {
              "$ref": "#/definitions/PresetPeriodType"
            },
            "default": "Last24Hours",
            "x-nullable": true,
            "enum": [
              "CurrentDay",
              "CurrentWeek",
              "CurrentMonth",
              "CurrentYear",
              "PreviousDay",
              "PreviousWeek",
              "PreviousMonth",
              "PreviousYear",
              "Last24Hours",
              "Last48Hours",
              "Last7Days",
              "Last30Days",
              "Last60Days",
              "Last90Days",
              "Last365Days",
              "Last3Months",
              "Last6Months",
              "Last12Months",
              "Last24Months",
              "All"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/StatisticsResponse"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageInfo"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The monitor could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageInfo"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Statistics/MonitorGroup/{monitorGroupGuid}": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "Gets the monitor group statistics.",
        "operationId": "Statistics_GetMonitorGroupStatistics",
        "parameters": [
          {
            "type": "string",
            "name": "monitorGroupGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the monitor group.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Filter",
            "in": "query",
            "description": "The filter for the requested response fields. E.g. \"Alerts,SlaTarget\".",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Start",
            "in": "query",
            "description": "The start of a custom period (can't be used together with the PresetPeriod parameter)",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "End",
            "in": "query",
            "description": "The end of a custom period",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "PresetPeriod",
            "in": "query",
            "description": "The requested time period.",
            "x-schema": {
              "$ref": "#/definitions/PresetPeriodType"
            },
            "default": "Last24Hours",
            "x-nullable": true,
            "enum": [
              "CurrentDay",
              "CurrentWeek",
              "CurrentMonth",
              "CurrentYear",
              "PreviousDay",
              "PreviousWeek",
              "PreviousMonth",
              "PreviousYear",
              "Last24Hours",
              "Last48Hours",
              "Last7Days",
              "Last30Days",
              "Last60Days",
              "Last90Days",
              "Last365Days",
              "Last3Months",
              "Last6Months",
              "Last12Months",
              "Last24Months",
              "All"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/StatisticsResponse"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageInfo"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The monitor group could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageInfo"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Alert/Monitor/{monitorGuid}": {
      "get": {
        "tags": [
          "Alert"
        ],
        "summary": "Returns alerts for a specific monitor.",
        "operationId": "Alert_GetMonitorAlerts",
        "parameters": [
          {
            "type": "string",
            "name": "monitorGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the monitor to get alerts for.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "IncludeReminders",
            "in": "query",
            "description": "When true reminder alerts will be included in the results",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Cursor",
            "in": "query",
            "description": "A cursor value that should be used for traversing the dataset.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Sorting",
            "in": "query",
            "description": "Sorting direction based on timestamp.",
            "x-schema": {
              "$ref": "#/definitions/SortDirection"
            },
            "default": "Descending",
            "x-nullable": false,
            "enum": [
              "Ascending",
              "Descending"
            ]
          },
          {
            "type": "integer",
            "name": "Take",
            "in": "query",
            "description": "The number of records to return (Max value = 100)",
            "format": "int32",
            "default": 100,
            "maximum": 100.0,
            "minimum": 0.0,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Start",
            "in": "query",
            "description": "The start of a custom period (can't be used together with the PresetPeriod parameter)",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "End",
            "in": "query",
            "description": "The end of a custom period",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "PresetPeriod",
            "in": "query",
            "description": "The requested time period.",
            "x-schema": {
              "$ref": "#/definitions/PresetPeriodType"
            },
            "default": "Last24Hours",
            "x-nullable": true,
            "enum": [
              "CurrentDay",
              "CurrentWeek",
              "CurrentMonth",
              "CurrentYear",
              "PreviousDay",
              "PreviousWeek",
              "PreviousMonth",
              "PreviousYear",
              "Last24Hours",
              "Last48Hours",
              "Last7Days",
              "Last30Days",
              "Last60Days",
              "Last90Days",
              "Last365Days",
              "Last3Months",
              "Last6Months",
              "Last12Months",
              "Last24Months",
              "All"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertResponse"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified Monitor for monitorGuid does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Alert/MonitorGroup/{monitorGroupGuid}": {
      "get": {
        "tags": [
          "Alert"
        ],
        "summary": "Returns alerts for a specific monitor group.",
        "operationId": "Alert_GetMonitorGroupAlerts",
        "parameters": [
          {
            "type": "string",
            "name": "monitorGroupGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the monitor group to get alerts for.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "IncludeReminders",
            "in": "query",
            "description": "When true reminder alerts will be included in the results",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Cursor",
            "in": "query",
            "description": "A cursor value that should be used for traversing the dataset.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Sorting",
            "in": "query",
            "description": "Sorting direction based on timestamp.",
            "x-schema": {
              "$ref": "#/definitions/SortDirection"
            },
            "default": "Descending",
            "x-nullable": false,
            "enum": [
              "Ascending",
              "Descending"
            ]
          },
          {
            "type": "integer",
            "name": "Take",
            "in": "query",
            "description": "The number of records to return (Max value = 100)",
            "format": "int32",
            "default": 100,
            "maximum": 100.0,
            "minimum": 0.0,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Start",
            "in": "query",
            "description": "The start of a custom period (can't be used together with the PresetPeriod parameter)",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "End",
            "in": "query",
            "description": "The end of a custom period",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "PresetPeriod",
            "in": "query",
            "description": "The requested time period.",
            "x-schema": {
              "$ref": "#/definitions/PresetPeriodType"
            },
            "default": "Last24Hours",
            "x-nullable": true,
            "enum": [
              "CurrentDay",
              "CurrentWeek",
              "CurrentMonth",
              "CurrentYear",
              "PreviousDay",
              "PreviousWeek",
              "PreviousMonth",
              "PreviousYear",
              "Last24Hours",
              "Last48Hours",
              "Last7Days",
              "Last30Days",
              "Last60Days",
              "Last90Days",
              "Last365Days",
              "Last3Months",
              "Last6Months",
              "Last12Months",
              "Last24Months",
              "All"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertResponse"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified Monitor Group for monitorGroupGuid does not exist.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Integration": {
      "get": {
        "tags": [
          "Integration"
        ],
        "summary": "Gets a list of all integrations.",
        "operationId": "Integration_GetAllIntegrations",
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Integration"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Status/Monitor/{monitorGuid}": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Gets all monitor status data.",
        "operationId": "Status_GetMonitorStatus",
        "parameters": [
          {
            "type": "string",
            "name": "monitorGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the monitor.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitorStatusResponse"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The monitor could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/Status/MonitorGroup/{monitorGroupGuid}": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Gets a list of all monitor group status data.",
        "operationId": "Status_GetMonitorGroupStatus",
        "parameters": [
          {
            "type": "string",
            "name": "monitorGroupGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the monitor group.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitorStatusListResponse"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The monitor group could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/AlertDefinition": {
      "get": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Gets a list of all alert definitions.",
        "operationId": "AlertDefinition_GetAllAlertDefinitions",
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AlertDefinition"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Creates a new alert definition.",
        "operationId": "AlertDefinition_CreateAlertDefinition",
        "parameters": [
          {
            "name": "alertDefinition",
            "in": "body",
            "required": true,
            "description": "The details of the alert definition to create.",
            "schema": {
              "$ref": "#/definitions/AlertDefinition"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertDefinition"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/AlertDefinition/{alertDefinitionGuid}": {
      "get": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Gets the specified alert definition.",
        "operationId": "AlertDefinition_GetSpecifiedAlertDefinitions",
        "parameters": [
          {
            "type": "string",
            "name": "alertDefinitionGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the alert definition.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertDefinition"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Deletes an existing alert definition.",
        "operationId": "AlertDefinition_DeleteAlertDefinition",
        "parameters": [
          {
            "type": "string",
            "name": "alertDefinitionGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the alert definition to remove.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified alert definition could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Updates the definition for the specified alert definition.",
        "description": "This methods only accepts a complete alert definition where all fields are specified.",
        "operationId": "AlertDefinition_PutAlertDefinition",
        "parameters": [
          {
            "name": "alertDefinition",
            "in": "body",
            "required": true,
            "description": "The partial definition for the alert definition that should be updated.",
            "schema": {
              "$ref": "#/definitions/AlertDefinition"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "alertDefinitionGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the alert definition that should be updated.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified alert definition could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Partially updates the definition for the specified alert definition.",
        "description": "This methods accepts parts of an alert definition. Fields that do not require changes can be omitted.",
        "operationId": "AlertDefinition_PatchAlertDefinition",
        "parameters": [
          {
            "name": "alertDefinition",
            "in": "body",
            "required": true,
            "description": "The partial definition for the alert definition that should be updated.",
            "schema": {
              "$ref": "#/definitions/AlertDefinition"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "alertDefinitionGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the alert definition that should be updated.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified alert definition could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/AlertDefinition/{alertDefinitionGuid}/Member": {
      "get": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Gets a list of all monitor and monitor group guids for the specified alert definition.",
        "operationId": "AlertDefinition_GetAllMembers",
        "parameters": [
          {
            "type": "string",
            "name": "alertDefinitionGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the alert definition for which to return the members.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AlertDefinitionMember"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified alert definition could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/AlertDefinition/{alertDefinitionGuid}/Member/Monitor/{monitorGuid}": {
      "post": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Adds a monitor to the specified alert definition.",
        "operationId": "AlertDefinition_AddMonitorToAlertDefinition",
        "parameters": [
          {
            "type": "string",
            "name": "alertDefinitionGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the alert definition to modify.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "monitorGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the monitor to add.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertDefinitionMonitor"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "One or more of the specified entities could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Removes a monitor for the specified alert definition.",
        "operationId": "AlertDefinition_RemoveMonitorFromAlertDefinition",
        "parameters": [
          {
            "type": "string",
            "name": "alertDefinitionGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the alert definition to modify.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "monitorGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the monitor to remove.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "One or more of the specified entities could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/AlertDefinition/{alertDefinitionGuid}/Member/MonitorGroup/{monitorGroupGuid}": {
      "post": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Adds a monitor group to the specified alert definition.",
        "operationId": "AlertDefinition_AddMonitorGroupToAlertDefinition",
        "parameters": [
          {
            "type": "string",
            "name": "alertDefinitionGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the alert definition to modify.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "monitorGroupGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the monitor group to add.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "The request completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertDefinitionMonitorGroup"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "One or more of the specified entities could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Removes a monitor group for the specified alert definition.",
        "operationId": "AlertDefinition_RemoveMonitorGroupFromAlertDefinition",
        "parameters": [
          {
            "type": "string",
            "name": "alertDefinitionGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the alert definition to modify.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "monitorGroupGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the monitor group to remove.",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "One or more of the specified entities could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      }
    },
    "/AlertDefinition/{alertDefinitionGuid}/EscalationLevel/{escalationLevelId}": {
      "put": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Updates the escalation level for the specified alert definition.",
        "description": "This methods only accepts a complete alert definition where all fields are specified.",
        "operationId": "AlertDefinition_PutAlertDefinitionEscalation",
        "parameters": [
          {
            "type": "string",
            "name": "alertDefinitionGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the alert definition that should be updated.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "escalationLevelId",
            "in": "path",
            "required": true,
            "description": "The level number of the escalation that should be updated.",
            "x-nullable": false
          },
          {
            "name": "escalationLevel",
            "in": "body",
            "required": true,
            "description": "The escalation level for the alert definition that should be updated.",
            "schema": {
              "$ref": "#/definitions/EscalationLevel"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "One or more validation errors occurred.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The specified alert definition could not be found.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          }
        },
        "security": [
          {
            "basicauth": [
              ""
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "AlertDefinition"
        ],
        "summary": "Partially updates the escalation level for the specified alert definition.",
        "description": "This methods only accepts a complete alert definition where all fields are specified.",
        "operationId": "AlertDefinition_PatchAlertDefinitionEscalation",
        "parameters": [
          {
            "type": "string",
            "name": "alertDefinitionGuid",
            "in": "path",
            "required": true,
            "description": "The Guid of the alert definition that should be updated.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "escalationLevelId",
            "in": "path",
            "required": true,
            "description": "The level number of the escalation that should be updated.",
            "x-nullable": false
          },
          {
            "name": "escalationLevel",
            "in": "body",
            "required": true,
            "description": "The escalation level for the alert definition that should be updated.",
            "schema": {
              "$ref": "#/definitions/EscalationLevel"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "The request completed successfully. No content is returned."
          },
          "400": {
            "x-nullable": false,
            "description": "The request failed.",
            "schema": {
              "$ref": "#/definitions/MessageList"
            }
          },
[...]
