---
page_title: "Uptends Provider"
subcategory: ""
description: |-
  The Uptrends Terraform provider is used to manage monitoring resources via Uptrends API. The provider requires proper configured credentials before it can be used.
---

# Uptrends Provider

The Uptrends Terraform provider is used to manage monitoring resources via Uptrends API. The provider requires proper configured credentials before it can be used.

Use the navigation to the left to read about the available resources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

## Authentication

The Uptrends Terraform Provider requires authentication through an API account, so you will first need to create one. This API account is based on your 
Uptrends account, but is not the same. In the steps described, we’ll use the Swagger environment to access the API directly. The API account we’re about 
to create will not expire, so you will only need to do this once.

### Registering an API account

1. Go to the [Swagger page](https://api.uptrends.com/v4/swagger/index.html?url=/v4/swagger/v1/swagger.json), and locate and expand the POST /Register method.

1. Click the `Try it out` button to start creating an API account.

1. Click on the Execute button.

1. Your browser will now ask for your Uptrends operator login credentials. Fill in the `e-mail address` and `password` that you normally use to access Uptrends and click OK.

1. After the login credentials of your Uptrends account were verified, the Response body contains values for UserName and Password.

These are the credentials of your new API account:
```
{
   "UserName": "usernamehere",
   "Password": "passwordhere",
   "AccountId": "123456",
   "OperatorName": "Your name",
   "status": "OK"
}
```


## Argument Reference

The following arguments are supported:

- **username** (String) Username for the uptrends API. Can be specified with the UPTRENDS_USERNAME environment variable.
- **password** (String, Sensitive) Password for the uptrends API. Can be specified with the UPTRENDS_PASSWORD environment variable.